
@{
    ViewBag.Title = "Signup";
}

<h2>Signup</h2>

@if (ViewBag.Error != null)
{
    <div class="alert-danger">
        Error: @ViewBag.Error
    </div>
}

<form method="post" action="@Url.Action("Signup", "Users")">
    @Html.AntiForgeryToken()
    <label for="firstName">First Name:</label>
    <input class="form-control" type="text" name="firstName" id="firstName" value="" /><br />
    <label for="lastName">Last Name:</label>
    <input class="form-control" type="text" name="lastName" id="lastName" value="" /><br />
    <label for="email">Email:</label>
    <input class="form-control" type="email" name="email" id="email" value="" /><br />
    <label for="password">Password:</label>
    <input class="form-control" type="password" name="password" id="password" value="" /><br />
    <label for="passwordVerification">Password Verification:</label>
    <input class="form-control" type="password" name="passwordVerification" id="passwordVerification" value="" /><br /><br />
    <input class="btn btn-default btn-lg btn-block" type="submit" value="Submit" class="submit" />
</form>