
@{
    ViewBag.Title = "Signup";
}

<h2>Signup</h2>

@if (ViewBag.Error != null)
{
    <div class="alert-danger">
        Error: @ViewBag.Error
    </div>
}

<form method="post" action="@Url.Action("Signup", "Users")">
    @Html.AntiForgeryToken()

    First Name:<br />
    <input type="text" name="firstName" value="" /><br />

    Last Name:<br />
    <input type="text" name="lastName" value="" /><br />

    Email:<br />
    <input type="text" name="email" value="" /><br />

    Phone Number:<br />
    <input type="tel" name="phone" value="" /><br />

    Address:<br />
    <input type="text" name="address" value="" /><br />

    Password:<br />
    <input type="password" name="password" value="" /><br />

    Password Verification:<br />
    <input type="password" name="passwordVerification" value="" /><br /><br />
    <input type="submit" value="Submit" class="btn btn-default btn-lg btn-block" />

</form>