
@{
    ViewBag.Title = "User Signup";
}

<h2 class="page-header header">User Signup</h2>

@if (ViewBag.Error != null)
{
    <div class="alert-danger">
        Error: @ViewBag.Error
    </div>
}

<form method="post" action="@Url.Action("Signup", "Users")">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="firstName">First Name:</label>
        <input class="form-control" type="text" name="firstName" value="" id="firstName" />
    </div>
    <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input class="form-control" type="text" name="lastName" value="" id="lastName" />
    </div>
    <div class="form-group">
        <label for="Email:">Email:</label>
        <input class="form-control" type="email" name="email" value="" id="email" />
    </div>
    <div class="form-group">
        <label for="phone">Phone Number:</label>
        <input class="form-control" type="tel" name="phone" value="" id="phone" />
    </div>
    <div class="form-group">
        <label for="address">Address:</label>
        <input class="form-control" type="text" name="address" value="" id="address" />
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-control" type="password" name="password" value="" id="password" />
    </div>
    <div class="form-group">
        <label for="passwordVerification">Password Verification:</label>
        <input class="form-control" type="password" name="passwordVerification" value="" id="passwordVerification" />
    </div>
    <input type="submit" value="Submit" class="btn btn-default btn-lg btn-block" />

</form>