
@{
    ViewBag.Title = "User Signup";
}

<h2 class="page-header header">User Signup</h2>

@if (ViewBag.Error != null)
{
    <div class="alert-danger">
        Error: @ViewBag.Error
    </div>
}

    <form method="post" action="@Url.Action("Signup", "Users")">
        @Html.AntiForgeryToken()

        <label for="firstName">First Name:</label>
        <br />
        <input class="form-control" type="text" name="firstName" value="" id="firstName" /><br />

        <label for="lastName">Last Name:</label>
        <br />
        <input class="form-control" type="text" name="lastName" value="" id="lastName" /><br />

        <label for="Email:">Email:</label>
        <br />
        <input class="form-control" type="email" name="email" value="" id="email" /><br />

        <label for="phone">Phone Number:</label>
        <br />
        <input class="form-control" type="tel" name="phone" value="" id="phone" /><br />

        <label for="address">Address:</label>
        <br />
        <input class="form-control" type="text" name="address" value="" id="address" /><br />

        <label for="password">Password:</label>
        <br />
        <input class="form-control" type="password" name="password" value="" id="password" /><br />

        <label for="passwordVerification">Password Verification:</label>
        <br />
        <input class="form-control" type="password" name="passwordVerification" value="" id="passwordVerification" /><br /><br />
        <input type="submit" value="Submit" class="btn btn-default btn-lg btn-block" />

    </form>