/*------------------------------
=BASIC SETUP
------------------------------*/

@font-face{
    font-family: "PortLligatSans";
    src: url("../fonts/PortLligatSans-Regular.ttf");
}
body {
    font-family: PortLligatSans;
    font-size: medium;
}
video {
    width: 100%;
    height: 400px;
    margin: 10px;
}
.header{
    text-align:center;
}
/*------------------------------
=NAVIGATION
------------------------------*/

.navbar-inverse {
    background-color: #565656;
}
#user-hello{
    color: white;
}
.cart-icon {
    padding-top: 5px;
}

/*------------------------------
=SIDEBAR
------------------------------*/

/*------------------------------
=FOOTER
------------------------------*/

footer {
    background-color: #c2c6cd;

}
.footer-header {
    color: white;
    text-shadow: 3px 3px #000;
}

        footer a {
            color: #fff;
            font-size: medium;
        }
        footer a:hover {
            color: #000;
            width: 100px;
            height: 100px;
            transition: width 2s;
        }

.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 20px; 
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
		  
