@{
    ViewBag.Title = "About";
}
<h2 class="page-header header">About Us</h2>

<p>Nofar's accessories was established in 2017 in Tel Aviv, Israel
    by Nofar Estricher who was born and raised in Vienna, Austria.<br/>
</p>
