@{
    ViewBag.Title = "About";
}
<h2 class="page-header header">About Us</h2>

<article>
    Nofar's Accessories was established in 2017 in Tel Aviv, Israel
    <aside style="float:right">
        Nofar Estricher was born and raised in Vienna, Austria.
    </aside>
    by Nofar Estricher<br />
    Nofar's Accessories is an israeli e-commerce company.<br />
    We offer a wide veriaty of accessories from the top brands.
</article>
