@{
    ViewBag.Title = "Contact Us";
}
<h2 class="page-header header">Contact Us</h2>

<address>
    Carlebach St 6,<br />
    Tel Aviv-Yafo, Israel<br />
    <abbr title="Phone">Phone:</abbr>
    03-9999999
</address>