@model OxfordStreet_online_app.Models.Product

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

@{
    ViewBag.Title = "CreationConfirmation";
}

<h2>Product created successfully!</h2>

<script>

    var message = "@ViewBag.Message.ToString()";
    var url =
        "https://graph.facebook.com/108498187173044/feed?access_token=EAApsJlcf780BAAkpVLxWv6ZC6ysg9eY6mwOAjqBe7uH9NAdhoHaMeg09VuZBwmnALt91b8RrllH9Uw3vcI8yg3WjKPjdvLeBm5sTAvZCGELKvfzqAfSGwAYADhnI4UaZCRta9ZB6zdmFYVYebkf6DPPLlqAvsbtPrN8A5LlH2EtOgfPXkZBZCKXZAmiRYPAr82gZD&message=" +
            message;
    $.ajax({
        type: "POST",
        url: url,
        success: function (json) {
            console.log(JSON.stringify(json));
        }
    });
</script>